* {
    box-sizing: border-box;  
}
html, body {
    height: 100%;
    margin: 0;
}
body {
    display: flex;
    flex-direction: column;
    font-family: sans-serif;
    font-size: 13px;
}
#logo-google {
    margin: 0 auto;
    display: block;
    padding-top: 110px;
}
.foto-ricerca {
    
    height: 24px;    
    flex: 1 1 24px;
    align-self: center;
}
div img {
    width: 80%;
}
#mag {
    width: 50%;
    padding: 4px 0 0 5px;
}

.input-ricerca {
    flex: 3 1 384px;
    border: none;
}
#campo-ricerca {
    display: flex;
    flex-flow: row nowrap;
    width: 482px;
    height: 44px;
    border: 1px solid lightgray;
    border-radius: 30px;
    margin: 0 auto;
    margin-top: 30px;
    
}
input:focus {
    outline: none;
}
.button {
    
    padding: 10px 16px; 
    background-color: #f2f2f2;
    color:#5F6368;
    font-weight: 400;
    border-radius: 4px;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    border: 1px solid white;
    /* margin-right: 15px; */

}
.button:hover {
    border: 1px solid lightgrey;
    color: black;
}

#campo-bottoni {
    
    text-align: center;
    display: block;
    padding-top: 30px;

}
/* NAV STYLING          */

#nav-destra {
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    
}
#nav-destra li {
    
    
    
    
    

}
li:nth-child(2),
li:nth-child(1) {
    padding: 10px 10px;
}
li a {
    text-decoration: none;
    color: #777777;
}
li a:hover {
    color: #656565;
    text-decoration: underline;
}

li:nth-child(3) {
    background-image: url(https://ssl.gstatic.com/gb/images/i1_1967ca6a.png);
    background-repeat: no-repeat;
    background-position-x: -126px;
    background-position-y: -35px;
    width: 35px;
    height: 37px;
}
li:nth-child(3):hover {
    opacity: .55;
}
li:nth-child(4) {
    color: white;
    background-color: Green;
    border-radius: 50px;
    padding: 8px 11px;
    font-weight: 600;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 8px;
    margin-right: 22px;
    width: 35px;
    height: 35px;
}


/* FOOTER STYLING */

footer {
    /* flex-shrink: 0; */
    margin: 0;
    border: 1px solid rgb(228, 222, 222);
}
footer div {
    background-color: #f2f2f2;
    height: 42px;
}
#secondo {
    display: flex; 
    justify-content: space-between;

}
.cont {
    /* border: 1px solid rgb(194, 182, 182); */
    display: flex;
    justify-content: flex-start;
}
.contt {
    /* display: inline; */
    /* border: 1px solid rgb(189, 183, 183); */
    display: flex;
    justify-content: flex-end;
}
footer div p,
.cont a:first-child {
    padding: 12px;
    padding-left: 27px;
    color: rgba(0,0,0,.54);
}
footer div a {
    padding: 12px;
    color: rgba(0,0,0,.54);
    text-decoration: none;
    
}
p {
    margin: 0;
}
.sinistra:hover,
.destra:hover {
    text-decoration: underline;
}
